<div class="container mt-5">
    <div class="row">
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <% venue = Venue.find(booking.venue_id) %>
              <div class="account-bookings-listing mt-3 mr-4 py-5 px-3">
                  <% venue.photos.each do |photo| %>
                     <%= cl_image_tag photo.key, width: 370, height:200, crop: :fill, class: "product-image" %>
                  <% end %>
                  <h1><%= link_to venue.name, venue_path(venue) %></h1>
                  <div class="venue-detials d-flex">
                    <p><%= venue.address %></p>
                  </div>
                  <div class="description">
                    <p><%= booking.start_date %> to <%= booking.end_date %></p>
                  </div>
                  <div class="price ml-3">
                    <h3>$<%= booking.total_price %></h3>
                    <div class="edit-bar d-flex mt-4">
                      <p><%= link_to "Edit", edit_booking_path(booking), class: "edit-btn mr-3" %></p>
                      <p><%= link_to "Delete", delete_booking_url(booking), method: :delete, data: {confirm: "Don't regret"}, class: "delete-btn mr-3" %></p>
                    </div>
                  </div>
              </div>
        <% end %>
      <% end %>
    </div>
</div>
