<div class="container my-5 ">
  <div class="account_header">
    <h1>My bookings</h1>
    <p>Welcome, <%= @user.first_name %></p>
  </div>
</div>

<div class="container">
  <ul class="nav nav-t">
    <li class="active"><a data-toggle="tab" href="#Pending">Pending booking</a></li>
    <li><a data-toggle="tab" href="#Approved">Approved booking</a></li>
  </ul>
<div class="tab-content">
<div class="container my-listing-section tab-pane fade in active show" id="Pending">
  <div class="row">
    <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id && booking.status == false %>
    <% venue = Venue.find(booking.venue_id) %>

    <div class="booking-card mt-3 col-lg-3 col-md-4 w-100">
      <div class="details w-100" >
        <div class="img">
          <div id="carouselExampleControls-<%= booking.id %>" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner w-100">
                    <div class="carousel-item active w-100">
                      <%= cl_image_tag venue.photos[0].key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                  <% venue.photos[1..-1].each do |photo| %>
                    <div class="carousel-item w-100">
                      <%= cl_image_tag photo.key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                  <% end %>
                </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls-<%= booking.id %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls-<%= booking.id %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
        </div>
        <div class="bottom">
          <h1><%= link_to venue.name, venue_path(venue) %></h1>
          <div class="venue-detials d-flex">
            <p><%= venue.address %>&nbsp;&nbsp;</p>
            <div class="numbers d-flex">
            </div>
          </div>
          <div class="description">
            <p><%= booking.start_date %> to <%= booking.end_date %></p>
          <div class="price">
                <div class="price d-flex align-items-start">
                  <h3>$<%= booking.total_price %></h3>
                  <% days =  booking.end_date -  booking.start_date %>
                  <% if days.to_i > 1 %>
                    <h6>/ <%= days.to_i %> days</h6>
                    <% else %>
                    <h6>/ <%= days.to_i %> day</h6>
                  <% end %>
                </div>
          </div>

            </div>
            <div class="edit-bar d-flex mt-4 mb-5 justify-content-between">
              <div class="left d-flex ml-3">
                <% if booking.status == false %>
                  <h6 class="edit-btn">Pending</h6>
                <% elsif booking.status == true%>
                  <h6 class="approve-btn">Approved by owner</h6>
                <% end %>
              </div>
              <div class="right d-flex mr-3">
                <% if booking.status == false %>
                  <h6><%= link_to "Edit", edit_booking_path(booking), class: "edit-btn mr-3" %></h6>
                  <h6><%= link_to "Delete", delete_booking_url(booking), method: :delete, data: {confirm: "Don't regret"}, class: "delete-btn" %></h6>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>
  </div>
</div>





<div class="container my-listing-section tab-pane fade" id="Approved">
  <div class="row">
    <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id && booking.status == true %>
    <% venue = Venue.find(booking.venue_id) %>

    <div class="booking-card mt-3 col-lg-3 col-md-4 w-100">
      <div class="details w-100" >
        <div class="img">
          <div id="carouselExampleControls-<%= booking.id %>" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner w-100">
                    <div class="carousel-item active w-100">
                      <%= cl_image_tag venue.photos[0].key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                  <% venue.photos[1..-1].each do |photo| %>
                    <div class="carousel-item w-100">
                      <%= cl_image_tag photo.key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                  <% end %>
                </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls-<%= booking.id %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls-<%= booking.id %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
        </div>
        <div class="bottom">
          <h1><%= link_to venue.name, venue_path(venue) %></h1>
          <div class="venue-detials d-flex">
            <p><%= venue.address %>&nbsp;&nbsp;</p>
            <div class="numbers d-flex">
            </div>
          </div>
          <div class="description">
            <p><%= booking.start_date %> to <%= booking.end_date %></p>
          <div class="price">
                <div class="price d-flex align-items-start">
                  <h3>$<%= booking.total_price %></h3>
                  <% days =  booking.end_date -  booking.start_date %>
                  <% if days.to_i > 1 %>
                    <h6>/ <%= days.to_i %> days</h6>
                    <% else %>
                    <h6>/ <%= days.to_i %> day</h6>
                  <% end %>
                </div>
          </div>

            </div>
            <div class="edit-bar d-flex mt-4 mb-5 justify-content-between">
              <div class="left d-flex ml-3">
                <% if booking.status == false %>
                  <h6 class="edit-btn">Pending</h6>
                <% elsif booking.status == true%>
                  <h6 class="approve-btn">Approved by owner</h6>
                <% end %>
              </div>
              <div class="right d-flex mr-3">
                <% if booking.status == false %>
                  <h6><%= link_to "Edit", edit_booking_path(booking), class: "edit-btn mr-3" %></h6>
                  <h6><%= link_to "Delete", delete_booking_url(booking), method: :delete, data: {confirm: "Don't regret"}, class: "delete-btn" %></h6>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>
  </div>
</div>
</div>
</div>
</div>

