<div class="container">


<div class="container mt-5">
    <div id='venue-booking-dates'>
      <%= simple_form_for :search, url: s_path, method: "GET", html: { class: '' } do |f| %>
      <div class="search_bar d-flex  align-items-center input_area text-align-center pr-2">
        <div class="name flex-grow-1">
          <%= f.input :name, input_html: {value: ""}, :placeholder => "   Location" , :label => false, input_html: { class: 'name_input mt-3' } %>
        </div>
        <%= f.input :start_date, as: :string, type: :text, :placeholder => "Check in" , :label => false, input_html: { class: 'date_input mt-3' } %>
        <%= f.input :end_date, as: :string, type: :text, :placeholder => "Check out" , :label => false, input_html: { class: 'date_input mt-3' }  %>
        <%= f.submit "Search", class: "search_bar_btn" %>
      </div>
      <% end %>
    </div>
</div>
