<div class="container my-5 ">
  <div class="account_header">
    <h1>My venues listing</h1>
    <p>Welcome, <%= @user.first_name %></p>
  <p><%= link_to "Create new listing", new_venue_path, class: "btn btn-primary" %></p>
  </div>
</div>

<div class="container my-listing-section">
  <div class="row">
    <% @venues.each do |venue| %>
    <div class="venue-card mt-3 ">
      <div class="details" >
          <% venue.photos.each do |photo| %>
           <%= cl_image_tag photo.key, width: 370, height:200, crop: :fill, class: "product-image" %>
          <% end %>
          <h1><%= link_to venue.name, venue_path(venue) %></h1>
            <div class="venue-detials d-flex">
                <p><%= venue.address %>&nbsp;&nbsp;</p>
                <div class="numbers d-flex">
                </div>
              </div>
              <div class="description">
                <p><%= venue.description[0..100] %>...</p>
              </div>
          </div>
      </div>
  <% end %>
</div>
