<div class="container mt-5">
    <div id='venue-booking-dates'>
      <%= simple_form_for :search, url: s_path, method: "GET", html: { class: '' } do |f| %>
      <div class="search_bar d-flex  align-items-center input_area text-align-center pr-2">
        <div class="name flex-grow-1">
          <%= f.input :name, input_html: {value: ""}, :placeholder => "   Location" , :label => false, input_html: { class: 'name_input mt-3' } %>
        </div>
        <%= f.input :start_date, as: :string, type: :text, :placeholder => "Check in" , :label => false, input_html: { class: 'date_input mt-3' } %>
        <%= f.input :end_date, as: :string, type: :text, :placeholder => "Check out" , :label => false, input_html: { class: 'date_input mt-3' }  %>
        <%= f.submit "Search", class: "search_bar_btn ml-3" %>
      </div>
      <% end %>
    </div>
</div>

<div class = "title-container">
  <div class = "search-result-title">
    <h3> <%= @venues.length %> Venues available for "<strong><%= params[:search][:name] %></strong>"<h3>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Amenities
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Wifi</a>
      <a class="dropdown-item" href="#">Airconditioning</a>
      <a class="dropdown-item" href="#">Kitchen</a>
    </div>
  </div>
</div>

<div class ="container">
  <div class="card mb-3">
    <% @venues.each do |venue| %>
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="venue-image">
          <img src="https://live.staticflickr.com/4100/4788144157_28c4721340_b.jpg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="venue-card-name"><%= venue.name %></h3>
            <div class ="venue-card-infos">
              <p class="venue-card-description"><%= venue.description %></p>
              <p class="venue-card-amenities">1 guest · Studio · 1 bed · 1 shared bathroom</p>          
              <p class="venue-card-capacity"><%= venue.capacity %> PAX</p>
              <h3 class="venue-card-price"><strong>$<%= venue.price_per_day %> per day</strong></h3>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div id="map"
    style="width: 55%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

