<div class = "search-result-title">
  <P> 15 venues available from 12/31/19 to 01/02/20 </p>
</div>

<!--<<h1>Stays in <%= @query %></h1>> -->
<div class ="container">
  <div class ="row">
    <div class ="col-lg-6">
      <a class ="btn btn-ghost-secondary" href ="#">Price</a>
      <a class ="btn btn-ghost-secondary" href ="#">Nice Amenities</a>
      <a class ="btn btn-ghost-secondary" href ="#">Half day avilable</a>
      <a class ="btn btn-ghost-secondary" href ="#">Cancellation Flexibility</a>
    </div>
  </div>
  
  <div class = "venue-product">
    <% @venues.each do |venue| %>

    <div class = "venue-image">
      <img src = "https://media.timeout.com/images/103752936/630/472/image.jpg" width = "300", height = "300">
    </div>

    <%# <div class ="venue-super">
      <p>SUPERVENUE</p>
    </div> %>

    <div class ="venue-card-infos">
      <div class ="venue-card-description">
        <p> <%= venue.description %></p>
      </div>

      <div class ="venue-card-heart">
        <i class="fa fa-heart-o" aria-hidden="true" style="font-size:50px;"></i>
      </div>

      <div class ="venue-card-name">
        <h3><%= venue.name %></h3>
      </div>

      <div class ="venue-card-amenities">
        <p>1 guest · Studio · 1 bed · 1 shared bathroom
        </p>
      </div>

      <div class ="venue-card-rating">
        <p><i class="fa fa-star" aria-hidden="true" color="$red"></i><strong>4.89</strong>(46)</p>
      </div>

      <div class ="venue-card-capacity">
        <p><%= venue.capacity %> PAX</p>
      </div>

      <div class ="venue-card-price">
        <h3><strong>$<%= venue.price_per_day %> per day</strong></h3>
      </div>

      <div class ="venue-card-price-total">
        <p><u>$ </u></p>
      </div>
    </div>
    <% end %>
</div>

