<div class="container mt-5">
    <div id='venue-booking-dates'>
      <%= simple_form_for :search, url: s_path, method: "GET", html: { class: '' } do |f| %>
      <div class="search_bar d-flex  align-items-center input_area text-align-center pr-2">
        <div class="name flex-grow-1">
          <%= f.input :name, input_html: {value: params[:search][:name], class: 'name_input mt-3'}, :placeholder => "   Location" , :label => false %>
        </div>
        <%= f.input :start_date, as: :string, type: :text, :placeholder => "Check in" , :label => false, input_html: { value: params[:search][:start_date], class: 'date_input mt-3' } %>
        <%= f.input :end_date, as: :string, type: :text, :placeholder => "Check out" , :label => false, input_html: { value: params[:search][:end_date], class: 'date_input mt-3' }  %>
        <%= f.submit "Search", class: "search_bar_btn ml-3" %>
      </div>
      <% end %>
    </div>
</div>
<div class="container">
  <div class = "title-container">
    <div class = "search-result-title">
      <P> From <%= params[:search][:start_date] %> to <%= params[:search][:end_date] %> </p>
      <h3> <%= @venues.length %> Venues available in <strong><%= params[:search][:name] %></strong><h3>
    </div>
    <div class ="buttons">
      <a class ="btn btn-secondary" href ="#">Price</a>
      <a class ="btn btn-secondary" href ="#">Amenities</a>
      <a class ="btn btn-secondary" href ="#">Half day avilable</a>
    </div>
  </div>
</div>

<div class="container-fluid pr-0">
  <div class="row">
    <div class="col-md-8 ">
      <div class="row">
        <% @venues.reverse.each do |venue| %>
          <div class="col-lg-4 col-md-4 col-sm-1">
            <div class="venue-card mt-3 mr-3 w-100">
              <div class="details w-100">
                <div id="carouselExampleControls-<%= venue.id %>" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner w-100">
                    <div class="carousel-item active w-100">
                      <%= cl_image_tag venue.photos[0].key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                    <% venue.photos[1..-1].each do |photo| %>
                    <div class="carousel-item w-100">
                      <%= cl_image_tag photo.key, height:220, crop: :fill, class: "w-100" %>
                    </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls-<%= venue.id %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls-<%= venue.id %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <h1><%= link_to venue.name, venue_path(venue) %></h1>
                <div class="venue-detials d-flex">
                  <p><%= venue.address %>&nbsp;&nbsp;</p>
                  <div class="numbers d-flex">
                  </div>
                </div>
                <div class="description">
                  <p><%= venue.description[0..100] %>...</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 p-0">
      <div id="map"
        style="width: 100%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>