
<div class="venue-title">
  <h3><%= @venue.name %> | 5min from Tg pagar MRT </h3>
</div>

<div class="main-fotos-container" >
  <div class="first-foto">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="">
  </div>

  <div class="grid-fotos">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="">
  </div>
</div>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>


<div class="container mt-3 col-lg-4 ">
  <h1><%= @venue.name %></h1>
  <p><%= @venue.address %></p>
  <h4>Price per day: $<%= @venue.price_per_day %></h1>
</div>

<div class="container col-lg-4 mb-5 mt-4">
  <div class="venue_booking_form" id='venue-booking-dates' data-unavailable="<%= @venue.unavailable_dates.to_json %>">
    <% if user_signed_in? == false || current_user.id != @venue.user_id  %>
       <%= simple_form_for([@venue, @booking]) do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
           <%= f.submit "Book", class: "btn btn-primary w-100" %>
        <% end %>
    <% end %>
  </div>
</div>
